@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #ff5252;
    --color-bg-primary: #f5f0f0;
    --color-bg-secondary: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
}

.bg-primary {
    background-color: var(--color-bg-primary) !important;
}

.bg-secondary {
    background-color: var(--color-bg-secondary) !important;
}

.link:hover {
    color: #ff5252;
}

.MuiBadge-badge {
    background-color: #ff5252 !important;
}

.sidebar {
    background-color: #222a2c;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.custom-drawer .sidebar {
    height: 100%;
}

.dark-outline-btn {
    border: 1px solid #222a2c;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.image-upload {
    position: relative;
}

.image-upload>input {
    position: absolute;
    bottom: 10%;
    right: 50%;
    z-index: -1;
    width: 1px;
    background-color: #fff;
    border-color: #fff;
}

.image-upload>input::file-selector-button {
    background-color: transparent;
    border: 0;
    outline: none;
}

.placeholderCirle {
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 2px solid #7f56d9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    margin-bottom: 1rem;
}

.addaphoto {
    position: absolute;
    bottom: 20%;
    right: -7%;
    background-color: #7f56d9;
}

.addaphoto:hover {
    background-color: #7f56d9;
}

.tab-container {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid #ececec;
}

.tab-container .tab {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
}

.tab-container .tab.active {
    border-bottom: 1px solid #000;
}

table,
th,
td {
    border: 1px solid #c5c5c5;
}

table th,
table td {
    padding: 0.5rem;
}

#hero .container {
    height: 50vh;
    border: 1px solid red;
}

.post-content div {
    margin-bottom: 1.5rem;
}

.post-content div p {
    margin-bottom: 0.675rem;
    font-size: 1rem;
}

.post-content div img {
    margin: 1rem 0;
}

.post-content div ul li {
    margin-bottom: 0.5rem;
}